* {
	background-color: #eee;
	color: #223;
}

#frameViewport {
	color: #aaa;
}

#widgetToolbar {
	background-color: rgba(255, 255, 255, 192);
}

#listLayers {
	gridline-color: rgba(0, 0, 0, 24);
}

#btnMarkAdd {
	background-color: #aaa;
	color: #555;
}


#scrollMarks { background-color: rgba(0,0,0,0); }
#scrollMarks QWidget { background-color: rgba(0,0,0,0); }
#wGeoView, #wGeoView QWidget { background-color: rgba(0,0,0,0); }
