* {
	background-color: #222;
	color: #dde;
}

#frameViewport {
	color: #666;
}

#widgetToolbar {
	background-color: rgba(64, 64, 64, 192);
}

#listLayers {
	gridline-color: rgba(255, 255, 255, 24);
}

#btnMarkAdd {
	background-color: #aaa;
	color: #555;
}


#scrollMarks { background-color: rgba(0,0,0,0); }
#scrollMarks QWidget { background-color: rgba(0,0,0,0); }
#listObjects, #listObjects QWidget { background-color: rgba(0,0,0,0); }
